#contacto {
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    color: white;
    background-color: black;
}

#contacto-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8vh;
    letter-spacing: 2px;
    margin-bottom: 2vh;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    background: linear-gradient(to right, #f5af19, #f12711);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#contacto-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 1vw;
}

#mapa-contacto {
    height: 60vh;
    width: 45vw;
    border-radius: 20px;
}

form {
    margin-top: 1.5vh;
    background-color: white;
    color: black;
    height: 60vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3vh;
    border-radius: 20px;
}

#contacto-form-titulo {
    margin-left: 15vh;
    margin-top: 5vh;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 1000;
    font-size: 3vh;
}

input { 
    width: 80%;
    font-size: 2vh;
    margin-top: 0.6vh;
    height: 5vh;
    text-align: center;
    border-radius: 3px;
    font-family: 'Amatic SC', sans-serif;
}

#enviar-boton {
    font-weight: 1000;
}

@media (min-width: 280px) and (max-width: 612px) {
    #contacto {
        height: 86vh;
        margin-top: 60px;
    }
    #contacto-contenedor {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    #contacto-titulo {
        margin-bottom: 3vh;
        font-size: 5vh;
    }
    form {
        margin-top: 0px;
        margin-bottom: 10px;
        height: 32vh;
        width: 35vh;
        gap: 0px;
    }
    #contacto-form-titulo {
        margin: 0px;
        margin-top: 5px;
        margin-left: 135px;
    }

    #mapa-contacto {
        margin: 0px;
        height: 32vh;
        width: 35vh;
    }
    input {
        margin-bottom: 5px;
    }
}
@media (min-width: 613px) and (max-width: 767px) {
    #contacto {
        height: 86vh;
        margin-top: 60px;
    }
    #contacto-contenedor {
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width: 100%;
    }
    form {
        margin-top: 0px;
        margin-bottom: 10px;
        height: 60vh;
        width: 45vw;
    }
    #contacto-form-titulo {
        margin: 0px;
        margin-top: 20px;
        margin-left: 135px;
    }

    #mapa-contacto {
        height: 60vh;
        width: 45vw;
        margin: 0px;
    }
}   