.Footer {
    color: black;
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.terminos {
    font-size: 10px;
    font-weight: 1000;
    font-family: Playfair Display;
    margin-right: 10px;
    margin-bottom: 4px;
    color: black;
}

#terminos {
    color: black;
}

.terminos:hover {
    cursor: pointer;
    scale: 1.05;
}

.icon {
    color: black;
    margin-left: 10px;
}

.logof {
    font-size: 20px;
}

.icon:hover {
    scale: 1.1;
    cursor: pointer;
}

#terminos:visited {
    color: black;
}