.nav {
    background-color: white;
    color: black;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
}

ul {
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 10px;
}

li {
    margin-right: 5px;
    margin-top: 5px;
    font-family: Playfair Display;
    font-weight: 1000;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

li:hover {
    scale: 1.1;
    cursor: pointer;
}

.logos {
    font-size: 35px;
    margin-left: 13px;
    margin-top: 0px;
}

.menu-icon {
    display: none;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
}

#lista {
    color: black;
}

@media (min-width: 280px) and (max-width: 612px) { 
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu-icon {
        display: flex;
        font-size: 30px;
        margin-right: 5px;
    }
    ul {
        display: none;
    }
    .logos {
        height: 30px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    /* nav */
    .nav {
        width: 100%;
    }
    li {
        font-size: 13px;
    }
}