.nav {
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    background: linear-gradient(to right, #f5af19, #f12711);
    color: black;
    display: flex;
    height: 60px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 0;
}

ul {
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 1vh;
    gap: 2vh;
}

#ul {
    margin-left: auto;
}

li {
    margin-right: 1vh;
    margin-top: 0.5vh;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 0.4vh;
    font-weight: 1000;
    color: black;
    font-size: 3vh;
    margin-left: 1vh;
}

.li {
    margin-left: auto;
}

li:hover, .carrito-icon:hover {
    scale: 1.1;
    cursor: pointer;
}

.logos {
    font-size: 4vh;
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.carrito-icon {
    font-size: 3vh;
    margin-right: 2vh;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.menu-icon {
    display: none;
}

.link:visited {
    color: black;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover,
.link:active,
.link:focus {
    color: black;
    font-weight: bold;
  }

#lista {
    color: black;
}

.badge {
    position: absolute;
    bottom: 0;
    right: 0;
}

#productos-cantidad {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.8vh;
    width: 3vh;
    height: 3.5vh;
    margin-right: 0.5vh;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    color: white;
}

@media (min-width: 280px) and (max-width: 612px) { 
    #icons-content {
        display: flex;
    } 
    .carrito-icon {
        margin-top: 0.3vh;
    }
    .nav {
        margin-bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 100;
    }
    .menu-icon {
        display: flex;
        font-size: 3vh;
        margin-right: 2vh;
    }
    ul {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .nav {
        width: 100%;
        position: relative;
        margin-bottom: 0px;
    }
    li {
        font-size: 2.6vh;
    }
}
@media (min-width: 767px) and (max-width: 1023px) {
    .nav {
        width: 100%;
    }
}