.hero {
    background-color: black;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#titulo {
    font-family: Dancing Script;
    font-size: 80px;
    margin-bottom: 30px;
}

#subtitulo {
    font-family: special Elite;
    font-size: 20px;
}

#contenedor-hero {
    text-align: center;
    margin: 20px;
}

.heroi {
    height: 190px;
    margin-right: 35px;
    margin-left: 35px;
}

@media (min-width: 280px) and (max-width: 612px) {
    /* nav */
    #titulo{
        font-size: 47px;
    }
    #subtitulo {
        font-size: 20px;
    }
    .hero {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .heroi {
        height: 140px;
        width: 110px;
    }
    #img-no {
        display: none;
    }
}

@media (min-width: 613px) and (max-width: 767px) {
    /* hero */
    #titulo{
        font-size: 47px;
    }
    #subtitulo {
        font-size: 20px;
    }
    .hero {
        display: flex;
        flex-wrap: wrap;
        height: 700px;
        width: 100%;
    }
    .heroi {
        height: 160px;
        width: 130px;
    }
    #img-no {
        display: flex;
    }
    #contenedor-hero {
        width: 150%;
        margin: 15px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    #titulo{
        font-size: 47px;
    }
    #subtitulo {
        font-size: 20px;
    }
    .hero {
        display: flex;
        height: 500px;
        width: 100%;
    }
    .heroi {
        height: 30vw;
        width: 20vw;
    }
    #img-no {
        display: none;
    }
}

@media (min-width: 1023px) and (max-width: 1500px) {
    #titulo{
        font-size: 47px;
    }
    #subtitulo {
        font-size: 20px;
    }
    .hero {
        display: flex;
        height: 500px;
        width: 100%;
    }
    .heroi {
        height: 15vw;
        width: 10vw;
    }
}