.Hero2 {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#hero2-titulo {
    font-family: Dancing Script;
    font-size: 45px;
    margin-bottom: 30px;
}

#hero2-subtitulo {
    font-family: special Elite;
    font-size: 17px;
    width: 680px;
    line-height: 30px;
}

@media (min-width: 320px) and (max-width: 767px) {
    /* hero 2 */
    .Hero2 {
        width: 100%;
        flex-wrap: wrap;
        height: 350px;
    }
    #hero2-titulo {
        font-size: 47px;
    }
    #hero2-subtitulo {
        width: 90%;
        font-size: 18px;
    }
}